<div id="education">
    <div class="h2-title">
        <h2 class="h2" data-text="Fomración">Fomración</h2>
    </div>
    <div id="edu_text">
        <p>Entre los estudios relevantes, cursé un año de Ingeniería en Informática, una carrera que
            dejé al considerar que no me acercaba a mi meta profesional de convertirme en un mejor programador. Sin
            embargo, debo decir que atesoro los conocimientos adquiridos durante esa etapa, sobre todo en matemáticas y
            álgebra, los cuales he sabido aplicar en la programación. Actualmente, estoy cursando la carrera de Analista
            de Sistemas en el instituto ISET de Mar del Plata.</p>
        <p>En lo que respecta a la programación en sí, aunque he participado en cursos, la mayoría de mis conocimientos
            provienen de la práctica constante y de la lectura de código ajeno. He aprendido rompiendo, rehaciendo y
            siempre buscando nuevos retos.</p>
    </div>
    <div id="show_case">
        <p>Algunos de los cursos que mas me han servido:</p>
        <div id="certificates">
            <ul>
                <li (click)="toggleImage($event)">
                    <p class="glr_btn">Codo a Codo - Fullstack Java</p><img src="certificates/certificado_1.jpg"
                        alt="fullstack java">
                </li>
                <li (click)="toggleImage($event)">
                    <p class="glr_btn">Elementos de la I.A</p><img src="certificates/certificado_2.png"
                        alt="fullstack java">
                </li>
                <li (click)="toggleImage($event)">
                    <p class="glr_btn">Codo a Codo - Big Data</p><img src="certificates/certificado_3.png"
                        alt="Big Data">
                </li>
                <li (click)="toggleImage($event)">
                    <p class="glr_btn">BA Multiplica - Excel Avanzado & Power BI</p><img
                        src="certificates/certificado_4.png" alt="Excell avanzado y Power Bi">
                </li>
            </ul>
        </div>
    </div>
    <div id="skills_case">
        <p>Habilidades:</p>
        <div id="skills">
            <img src="icons/html.png" alt="HTML">
            <img src="icons/css.png" alt="CSS">
            <img src="icons/sql.png" alt="SQL">
            <img src="icons/javascript.png" alt="Javascript">
            <img src="icons/nodejs.png" alt="Node Js">
            <img src="icons/java.png" alt="Java">
            <img src="icons/c.png" alt="C">
            <img src="icons/angularjs.png" alt="Angular">
            <img src="icons/react.png" alt="React">
            <img src="icons/python.png" alt="Python">
            <img src="icons/git.png" alt="Git">
        </div>
    </div>
</div>