<div id="navbar">
    <div id="menu-toggle">
        <img src="icons/menu.png" alt="menu" (click)="isMenuOpen = !isMenuOpen">
    </div>
    <div id="content-fld">
        <div id="nav-op">
            <ul [ngClass]="{'active': isMenuOpen}">
                <li><a class="nav-item" routerLink="/home" (click)="closeMenu()">{{'Inicio'|translate}}</a></li>
                <li><a class="nav-item" routerLink="/proyects" (click)="closeMenu()">{{'Proyectos'|translate}}</a></li>
                <li><a class="nav-item" routerLink="/education" (click)="closeMenu()">{{'Formación'|translate}}</a></li>
                <li><a class="nav-item" routerLink="/contact" (click)="closeMenu()">{{'Contacto'|translate}}</a></li>
            </ul>
        </div>
        <div id="lang">
            <div id="lang-container">
                <input type="checkbox" id="lang-toggle" [(ngModel)]="isEnglish" (change)="changeLanguage()"/>
                <label for="toggle" id="toggle-label"></label>
            </div>
        </div>
    </div>
</div>