<div id="contact">
    <div class="h2-title">
        <h2 class="h2" data-text="Contacto">Contacto</h2>
    </div>
    <div id="contact-method">
        <p>Clickeando en el icono de Email se copia al portapapeles mi correo electronico.
        </p>
        <div id="methods">
            <a href="docs/CV Español.pdf" target="_blank" rel="noopener noreferrer">
                <img src="icons/cv.png" alt="CV en Español">
                <p>Español</p>
            </a>
            <a href="docs/English CV.pdf" target="_blank" rel="noopener noreferrer"><img src="icons/cv.png" alt="English CV">
                <p>English</p>
            </a>
            <a href="" (click)="copyToClipboard($event)"><img src="icons/email.png" alt="Email">
                <p>Email</p>
            </a>
            <a href="https://wa.me/542236895364" target="_blank" rel="noopener noreferrer"><img src="icons/whatsapp.png" alt="Email">
                <p>Whatsapp</p>
            </a>
        </div>
        <span id="tooltip">Copiado al portapapeles</span>
    </div>
</div>