#gallery {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100vw;
    height: 100vh;
    min-width: 90vw;
    min-height: 30vh;
    z-index: 3;
    visibility: visible;

    #gallery-header {
        position: absolute;
        right: 2rem;
        top: 2rem;

        button {
            color: red;
            background-color: rgba($color: #000000, $alpha: 1.0);
            font-size: 1.5rem;
            margin: 2rem;
        }
    }

    #gallery-content {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            max-height: 70vh;
            //max-width: 70vw;
        }

        button {
            color: red;
            background-color: rgba($color: #000000, $alpha: 1.0);
            font-size: 2rem;
            //margin: 2rem;
            position: absolute;
            bottom: 2rem;
        }

        #nav-button {
            left: 45%;
        }

        #nav-button2 {
            right: 45%;
        }

        a {
            margin: 0px 0.4rem;
            box-shadow: 0px 0px 10px #ffffff;
            background-color: black;
            display: flex;
            width: 30px;
            height: 30px;
            margin-bottom: 15px;
            border-radius: 15%;
            position: absolute;
            bottom: 2rem;
            img {
                border-radius: 15%;
            }
        }
    }

}

@media (max-width: 768px) {
    #gallery {
        #gallery-content {
            flex-direction: column;

            button {
                position: absolute;
                bottom: 2rem;
            }

            #nav-button {
                left: 25%;
            }
    
            #nav-button2 {
                right: 25%;
            }

            img {
                width: 100vw;
            }
        }
    }
}